[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
click = "*"
flask-mail = "*"
flask-bcrypt = "*"
pycountry = "*"
flask-login = "*"
pytest = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
